{
  "custom_asset_folder": "/home/wolf/.local/share/Wonderdraft/assets",
  "default_asset_folder": "/home/wolf/code/wonderdraft_manipulator/wonderdraft_map_extractor/wonderdraft_files/sprites",
  "cache_folder": "/home/wolf/.cache/wonderdraft_gui",
  "wonderdraft_folder": "/home/wolf/.local/share/Wonderdraft",
  "auto_locate_custom_assets": true,
  "clear_cache_on_exit": true,
  "setup_completed": true
}
